# Exploration of TII WIM traffic data
# Intro and motivations
The intent of this study is to identify patterns of traffic flow to inform traffic management authorities of possible issues.

In [31]:
# get the data
import pandas as pd

weekly_cars = pd.read_csv('data/THA21.20230103120743.csv')
weekly_cars.head(5)
weekly_hgv = pd.read_csv('data/THA22.20230103123921.csv')

In [29]:
weekly_cars.shape
weekly_cars.value_counts()

STATISTIC  Statistic Label                TLIST(W1)  Year  C03910V04662  Transport Traffic Site             C01198V01436  Weeks of the year  UNIT    VALUE
THA21C01   Average weekly volume of cars  2019       2019  10            Selected traffic sites - Dublin    1             Week 01            Number  463064.0    1
                                          2021       2021  20            Selected traffic sites - Regional  7             Week 07            Number  95426.0     1
                                                                                                            17            Week 17            Number  133817.0    1
                                                                                                            16            Week 16            Number  131971.0    1
                                                                                                            15            Week 15            Number  129277.0    1
                                                                                                                                                                ..
                                          2020       2020  10            Selected traffic sites - Dublin    30            Week 30            Number  473671.0    1
                                                                                                            29            Week 29            Number  471550.0    1
                                                                                                            28            Week 28            Number  463106.0    1
                                                                                                            27            Week 27            Number  449555.0    1
                                          2022       2022  20            Selected traffic sites - Regional  47            Week 47            Number  180752.0    1
Length: 408, dtype: int64

In [35]:
weekly_hgv.head()

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA22C01,Average weekly volume of heavy goods vehicles,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,23838.0
1,THA22C01,Average weekly volume of heavy goods vehicles,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,38353.0
2,THA22C01,Average weekly volume of heavy goods vehicles,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,39973.0
3,THA22C01,Average weekly volume of heavy goods vehicles,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,40314.0
4,THA22C01,Average weekly volume of heavy goods vehicles,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,40709.0

In [38]:
weekly_hgv.shape

(424, 10)

In [39]:
# drop columns
weekly_cars.drop(columns=['STATISTIC','TLIST(W1)', 'UNIT','Weeks of the year'], inplace=True)
weekly_hgv.drop(columns=['STATISTIC','TLIST(W1)', 'UNIT','Weeks of the year'], inplace=True)

In [40]:
# rename columns
weekly_cars.rename({'C03910V04662':'Site Id', 'C01198V01436':'Week Number','VALUE': 'Volume'}, axis=1, inplace=True)
weekly_hgv.rename({'C03910V04662':'Site Id', 'C01198V01436':'Week Number','VALUE': 'Volume'}, axis=1, inplace=True)
weekly_cars.head()

,Statistic Label,Year,Site Id,Transport Traffic Site,Week Number,Volume
0,Average weekly volume of cars,2019,10,Selected traffic sites - Dublin,1,463064.0
1,Average weekly volume of cars,2019,10,Selected traffic sites - Dublin,2,534609.0
2,Average weekly volume of cars,2019,10,Selected traffic sites - Dublin,3,549470.0
3,Average weekly volume of cars,2019,10,Selected traffic sites - Dublin,4,550892.0
4,Average weekly volume of cars,2019,10,Selected traffic sites - Dublin,5,543468.0

In [41]:
weekly_cars['Transport Traffic Site'].value_counts()

Selected traffic sites - Dublin      212
Selected traffic sites - Regional    212
Name: Transport Traffic Site, dtype: int64

In [42]:
weekly_hgv.head()

,Statistic Label,Year,Site Id,Transport Traffic Site,Week Number,Volume
0,Average weekly volume of heavy goods vehicles,2019,10,Selected traffic sites - Dublin,1,23838.0
1,Average weekly volume of heavy goods vehicles,2019,10,Selected traffic sites - Dublin,2,38353.0
2,Average weekly volume of heavy goods vehicles,2019,10,Selected traffic sites - Dublin,3,39973.0
3,Average weekly volume of heavy goods vehicles,2019,10,Selected traffic sites - Dublin,4,40314.0
4,Average weekly volume of heavy goods vehicles,2019,10,Selected traffic sites - Dublin,5,40709.0